@import '../../global.scss';

.SinglePost{
    // border: yellow 1px solid;
    color: $darker;
    .postTitle{
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: 3px;
        margin: 1rem;
        .buttons{
             float: right;
            .MuiSvgIcon-root{
                font-size: 2rem;
            }
        }
    }
    .midContainer{
        border: red 1px solid;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-content: center;
    .imageContainer{
        // border: red 1px solid;
        width: 70%;
        text-align: center;
        // margin: 2rem auto;
        img{
            height: 40%;
            width: 60%;
            // margin: 2rem auto;
            object-fit: cover;
            border-radius: 1rem;
        }
    }
    .postinfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        color: wheat;
        .authorName{
            // margin: 1rem;
            letter-spacing: 2px;
            font-size: 1.6rem;
            color: $dark;
            cursor: pointer;
        }
        .timeStamp{
            // margin: 1rem;  
            color: $lighter;
        }
    }
    }
    .postDesc{
        text-align: center;
        margin: 1rem;
        font-size: 1.1rem;
        color: $dark;
    }
}