@import '../../global.scss';

.SinglePost{
    // border: yellow 1px solid;
    color: $darker;
    .postTitle{
        .buttons{
            .MuiSvgIcon-root{
                font-size: 2rem;
            }
        }
    }
    
    .imageContainer{
        // border: red 1px solid;
        img{
        }
    }
    .postinfo{
        // border: red 1px solid;
        color: wheat;
        .authorName{
            color: $dark;
        }
        .timeStamp{
            color: $lighter;
        }
        .morePosts{
            // border: yellow 1px solid;
            color: wheat;
            .authorNameMorePosts{
                color: $darker;
            }
        }
    }
    .postDesc{
        color: $dark;
    }
}