@import '../../global.scss';

.Contact{
    // border: red 1px solid;
    color: $darker;
    margin: 4rem 8rem;
    p{
        font-size: 1.2rem;
        text-align: center;
        margin: 3rem ;
        span{
            font-family: Poppins;
            letter-spacing: 5px;
            font-size: 2rem;
        }
    }
    .container{
        font-size: 1.1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem 30%;
        list-style: none;
        li{
            display: flex;
            justify-content: center;
            margin: 0.6rem 1rem;
        }
    }
}