@import '../../global.scss';

.Compose{
  background-color: $lightest;
    .imageContainer{
        color: $dark;
    }
    .postComposer{
        // border: 1px yellow solid;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto 1px;
        @include tab{
        }
          
          //--- ## BASIC #############
          body {
            background: #E8EBF3;
            height: 100vh;
            font: 400 16px 'Varela Round', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .socials {
              position: fixed;
              display: block;
              left: 20px;
              bottom: 20px;
              > a {
                display: block;
                width: 30px;
                opacity: .2;
                transform: scale(var(--scale, .8));
                transition: transform .3s cubic-bezier(0.38,-0.12, 0.24, 1.91);
                &:hover {
                  --scale: 1;
                }
              }
            }
          }
        #inputTitle{
            color: $darker;
            background-color: $lightest;
        }
        #inputContent{
            color: $dark;
            background-color: $lightest;
            // text-align: center;
        }
        .postBtn{
            position: sticky;
            bottom: 1rem;
            right: 2rem;
            border-radius: 10px;
            border: none;
            outline: none;
            text-align: center;
            padding: 0.4rem 0.8rem;
            font-size: 1.3rem;
            margin:2rem;
            background-color: $darker;
            &:hover{
              background-color: $dark;
            }
            color: $lightest;
            letter-spacing: 1px;
            font-style: italic;
            // box-shadow: 0 5px 20px $light;
            @include tab{
              bottom: -3rem;
              right: 2rem;
            }
        }
    }
}