@import '../../global.scss';

.SideBar{
    background-color: $lighter;
    color: $darker;
    .aboutMe{
        span{
            color: $darker;
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 3px;
            font-family: Poppins;
        }
        p{
            color: $dark;
            display: block;
            letter-spacing: 1px;
            font-family: exo;
            font-size: 1.2rem;
        }
    }
}