@import "../../global.scss";

.Post {
  background-color: $lightest;
  color: $darker;
  .postTitleTemporary{
    color: $darker;
  }
  .data {
    .postTitle{
      color: $darker;
    }
    .categoryContainer {
      color: $dark;
      span {
        text-align: center;
        font-weight: lighter;
      }
    }
    .dateContainer{
      color: $dark;
    }
    .postContent {
      color: $dark;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  &:hover{
    .imageContainer{
        filter: blur(2px);
        opacity: 0.2;
    }
    .data{
        display: block;
    }
    .postTitleTemporary{
        display: none;
    }
  }
}
