
// $lightest: #F2E9E4;
// $lighter: #C9ADA7;
// $light: #9A8C98;
// $dark: #4A4E69;
// $darker: #22223B;

$lightest: #222629;
$lighter: #474B4F;
$light: #6B6E70;
$dark: #61892f;
$darker: #86C232;

.link{
    color: $darker;
}

//TODO: Responsive for TABLET
$tabWidth: 880px;
@mixin tab {
    @media (max-width: #{$tabWidth}){
        @content
    }
}

//TODO: Responsive for Average Mobile
$avgmobileWidth: 786px;
@mixin avgmobile{
    @media (max-width: #{$avgmobileWidth}){
        @content
    }
}